html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

.title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.title img {
    height: 50px;
    object-fit: cover;
}

h1 a {
    text-decoration: none;
    font-size: 26px;
    color: #32a1ce;
}

.header_menu {
    top: 0;
    left: 0;
    background-color: #0f1111;
    position: fixed;
    width: 100%;
    height: 55px;
    padding: 0 20px;
    line-height: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 20px;
    box-sizing: border-box;
    align-items: center;
}

.header_menu_under {
    background-color: #232f3e;
    position: fixed;
    width: 100%;
    top: 55px;
    left: 0;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    justify-content: flex-end;
}

.header_menu_under>div a {
    text-decoration: none;
    padding-right: 20px;
    color: white;
}

main {
    padding-top: 95px;
    display: block;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.message_area,
.form_container,
footer {
    margin: 0 auto;
    display: block;
    align-items: center;
    justify-content: center;
}

.message_area {
    border: solid #000000cb 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto 15px auto;
    width: 400px;
    padding: 10px;
}

.error_message,
.normal_message {
    font-weight: bold;
    text-align: center;
}

.error_message {
    color: #ff00008f;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.form_container {
    display: block;
    justify-content: center;
    background-color: #5555551a;
    padding: 20px;
    width: 300px;
    height: auto;
}

table {
    width: 100%;
    height: 100px;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th {
    height: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

td {
    height: 100px;
}


.product_img,
.product_price {
    width: 12%;
}

.product_qty {
    width:20%;
}

.product_add_cart,
.product_public {
    width: 20%;
}

.product_stock,
.product_delete_cart {
    width: 16%;
}

th {
    background-color: #f4f4f4;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td img {
    width: 100px;
    max-height: 100px;
}

.low_stock {
    color: #ff0000;
}

input[type="submit"] {
    background-color: #ff8400;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #ff8400;
}

input[type="text"],
input[type="password"] {
    width: 200px;
}

input[type="number"] {
    width: 50px;
}

input[type="number"],
input[type="text"],
input[type="password"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

footer {
    margin-top: 10%;
    padding-top: 30px;
    width: 100%;
    background-color: #131a22;
    height: 200px;
}

footer p {
    text-align: center;
    color: white;
    text-align: center;
}