table,
td,
th {
    border: solid black 1px;
    width: 50px;
}

table {
    width: 250px;
}

caption {
    text-align: left;
}

img {
    width: 200px;
    height: auto;
}

.image_sharing {
    margin: 100px;
}

.add_product {
    border: thick double #32a1ce;
    width: 300px;
    height: 300px;
}